
bin/Debug/aki-bundles.dll
bin/Debug/aki-core.dll
bin/Debug/aki-custom.dll
bin/Debug/aki-debugging.dll
bin/Debug/aki-singleplayer.dll
bin/Debug/Aki.Build.dll
bin/Debug/Aki.Common.dll
bin/Debug/Aki.Reflection.dll
bin/Debug/AnimationSystem.Types.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/BepInEx.dll
bin/Debug/BepInEx.xml
bin/Debug/bsg.componentace.compression.libs.zlib.dll
bin/Debug/bsg.console.core.dll
bin/Debug/bsg.microsoft.extensions.objectpool.dll
bin/Debug/bsg.system.buffers.dll
bin/Debug/Cinemachine.dll
bin/Debug/com.nvidia.reflex.Runtime.dll
bin/Debug/com.unity.multiplayer-hlapi.Runtime.dll
bin/Debug/Comfort.dll
bin/Debug/Comfort.Unity.dll
bin/Debug/CommonExtensions.dll
bin/Debug/ConfigurationManager.dll
bin/Debug/ConfigurationManager.xml
bin/Debug/DissonanceVoip.dll
bin/Debug/DOTween.dll
bin/Debug/DOTween.Modules.dll
bin/Debug/FilesChecker.dll
bin/Debug/ItemComponent.Types.dll
bin/Debug/ItemTemplate.Types.dll
bin/Debug/JBooth.MicroSplat.Core.dll
bin/Debug/LibraryLoaderUtility.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/NLog.dll
bin/Debug/SERVPH_API.dll
bin/Debug/SERVPH_API.pdb
bin/Debug/Sirenix.OdinInspector.Attributes.dll
bin/Debug/Sirenix.Serialization.Config.dll
bin/Debug/Sirenix.Serialization.dll
bin/Debug/Sirenix.Utilities.dll
bin/Debug/SteamAudio.dll
bin/Debug/Tarky-Menu.dll
bin/Debug/Tarky-Menu.pdb
bin/Debug/Unity.Postprocessing.Runtime.dll
bin/Debug/Unity.ProBuilder.dll
bin/Debug/Unity.ProBuilder.KdTree.dll
bin/Debug/Unity.ProBuilder.Poly2Tri.dll
bin/Debug/Unity.ScriptableBuildPipeline.dll
bin/Debug/Unity.TextMeshPro.dll
bin/Debug/Unity.Timeline.dll
bin/Debug/UnityEngine.AndroidJNIModule.dll
bin/Debug/UnityEngine.CoreModule.dll
bin/Debug/UnityEngine.ParticleSystemModule.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.UIElementsModule.dll
bin/Debug/UnityEngine.VideoModule.dll
*.dll
*.dll
obj/Debug/Tarky-Menu.pdb
obj/Debug/Tarky-Menu.dll
obj/Debug/Tarky-Menu.csproj.FileListAbsolute.txt
obj/Debug/Tarky-Menu.csproj.CoreCompileInputs.cache
obj/Debug/Tarky-Menu.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
